# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.python-version

# ==========================================================
# ENVIRONMENT VARIABLES
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# DBT
# ==========================================================

target/
dbt_packages/
logs/
dbt_modules/
profiles.yml

# ==========================================================
# DBT ARTIFACTS
# ==========================================================

manifest.json
run_results.json
graph.gpickle
graph_summary.json
partial_parse.msgpack
semantic_manifest.json
osi_document.json

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# MACOS
# ==========================================================

.DS_Store

# ==========================================================
# DATABASE FILES
# ==========================================================

*.db
*.sqlite
*.sqlite3

# ==========================================================
# LOGS
# ==========================================================

*.log

# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# DATA FILES (REAL DATA)
# ==========================================================

data/*.csv
data/*.xlsx
data/*.xls
data/*.parquet


# ==========================================================
# EXPORTS
# ==========================================================

exports/
output/
tmp/
temp/

# ==========================================================
# SECRETS
# ==========================================================

secrets/
credentials/
*.pem
*.key
*.crt
.user.yml
prifiles.yml


# ==========================================================
# POSTGRES BACKUPS
# ==========================================================

data_backup/

*.dump
*.backup
*.bak

# ==========================================================
# AIRFLOW (future)
# ==========================================================

airflow.db

# ==========================================================
# TERRAFORM (future)
# ==========================================================

.terraform/
*.tfstate
*.tfstate.*data_backup/
